@media (max-width: 1000px){
    .slideshow__item{
        width: 600px;
    }
    
}

@media(max-width: 920px){
    .rooms__main__items{
        justify-content: space-evenly;
    }
}

@media(max-width: 900px){
    .room__main{
        flex-direction: column;
    }
    .room__right{
        margin-top: 30px;
        margin-left: 0;
    }
}

@media (max-width:767px){
    body {
        overflow-x: hidden;
        max-width: 100vw;
    }
    .home__btn{
        opacity: 1;
        z-index: 999;
    }
    .home__right{
        background: $main-btn-color;
        transform: translate(1000px, 0);
    }
    .slideshow__item{
        width: 500px;
    }
    .slideshow__prev{
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);
        color: $main-btn-color;
    }
    .slideshow__next{
        top: 50%;
        right: 10%;
        transform: translate(0, -50%);
        color: $main-btn-color;
    }
    .room__banner{
        img{
            &:first-child{
                width: 100%;
                height: 100%;
            }
            &:not(:first-child){
                display: none;
            }
        }
    }

    .rooms__banner__boxes{
        .banner__boxes__right{
            .boxes__right{
                i{
                    margin-right: 15px;
                }
            }
        }
    }
}

@media (max-width:500px){
    .home__roomnum,
    .home__logo{
        left: 30px;
    }
    .rooms__logo{
        left: 50%; 
    }
    .home__btn{
        right: 30px;
    }
    .slideshow__item{
        width: 90%;
    }
    .left__main__list{
        .left__main__list__item{
            padding: 15px 0 15px 10px;
        }
    }
    .modal{
        width: 320px;
        .input__group{
            input{
                width: 191px;
            }
            .input__date{
                width: 90px;
            }
        }
    }
    .rooms__banner__boxes{
        .banner__boxes__left{
            top: 420px;
            transform: translate(-50%,-50%);
        }
        .banner__boxes__right{
            width: 300px;
            transform: translate(-40%,-50%);
            &::after{
                display: none;             
            }
            .boxes__right{
                font-size: 14px;
                padding-bottom: 14px;
                color: $main-color;
                i{
                    margin-left: 25px;
                    margin-right: 15px;
                }
            }
        }
    }
    .room__left__main{
        flex-basis: 100%;
    }
    .room__left__sub{
        flex-basis: 100%;
        margin-top: 30px;
        p{
            text-align: left;
        }
    }
    .room__right__calender{
        width: auto;
        height: auto;
    }
    .ui-datepicker{
        width: auto;
        height: auto;
    }
    .ui-datepicker td span, .ui-datepicker td a {
        padding: 5px;
    }

}
@media (max-width: 400px){
    .home__contact{
        display: none;
    }
    .rooms__main__items{
        bottom: -30px;
    }
}
