.modal__wrapper{
    transform: translate(0, -1000px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 100;
}

.modal{
    transform: translate(-50%, -1000px);
    transition: transform .3s;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: $main-color;
    padding: 48px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    h2 {
        font-size: 24px;
        color: #000000;
        letter-spacing: 2.51px;
        margin-bottom: 24px;
    }
    .input__group{
        margin-top: 15px;
        letter-spacing: 1.46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            cursor: pointer;
        }
        input{
            font-family: 'Noto Sans TC', sans-serif;
            cursor: pointer;
            border: 1px solid #C9C9C9;
            border-radius: 5px;
            padding: 7px 10px;
            width: 300px;
            &:focus{
                outline: none;
                border: 1px solid $contrast-color;
            }
        }
        .input__date{
            width: 114px;
        }
    }
    .modal__block{
        margin-top: 30px;
        background-color: $darker-color;
        color: $font-color;
        padding: 30px 0;
        .modal__block__text{
            margin: 8px 0;
            padding: 8px 16px;
            display: flex;
            justify-content: space-between;
        }
    }
    .modal__price{
        margin-top: 16px;
        font-size: 26px;
        color: #FF5C5C;
        letter-spacing: 2.72px;
        text-align: right;
    }
    .modal__btn__group{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .modal__btn{
        padding: 10px 20px;
        border: none;
        background-color: $main-btn-color;
        color: $main-color;
        letter-spacing: 1.46px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }

    .modal__btn__sub{
        color: $font-color;
        background-color: $darker-color;
    }
}

.modal__success{
    .modal {
        .modal__status{
            text-align: center;
        }
        i {
            font-size: 80px;
            color: rgba(173,232,198,1);
            
        }
        .modal__btn__group{
            justify-content: flex-end;
        }
    }
    &--reverse{
        .modal {
            i {
                color: rgba(255,92,92,1);
            }
            p {
                margin-top: 30px;
                letter-spacing: 1.46px;
            }
        }
    }
}