$main-color: #ffffff;
$contrast-color: #000000;
$primary-color: #f7f7f7;
$darker-color: #ededed;
$font-color: #6d7278;
$main-btn-color: #484848;
$sub-btn-color: #d8d8d8;

$container-width: 1200px;
$container-md-width: 1074px;
$container-main-width: 950px;

$logo-w: 148px;
$logo-h: 148px;